body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-rows: repeat( 1fr);
    gap: 15px;
    background: linear-gradient(#334155, #475569,#6e8db7);



}
.header{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 20px;
    color: aliceblue;
    border-radius: 10px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    padding: 20px;

}
.card{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(#334155, #475569);
    color: aliceblue;

}

.new-book{
    display: grid;

    justify-items: center;
    align-items: center;
}
.book-form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    gap: 20px;
    padding: 20px;
    justify-items: end;
    border: 1px solid black;
    border-radius: 10px;
    color: aliceblue;
}

.add-btn{

    border-radius: 10px;
    border: 2px solid aliceblue;
    background: transparent;
    cursor: pointer;
    color: aliceblue;
    padding: 10px 20px;
}
.add-btn:hover{
    background-color: aliceblue;
    color: #334155;
    border-color: #334155;
}
.submit-btn{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    border: 2px solid aliceblue;
    background: transparent;
    cursor: pointer;
    color: aliceblue;
}
.submit-btn:hover{
    background-color: aliceblue;
    color: #334155;
    border-color: #334155;
}
.delete-btn{
    border-radius: 10px;
    border: 2px solid aliceblue;
    background: transparent;
    cursor: pointer;
    color: aliceblue;
    padding: 5px 5px;
    margin-bottom: 10px;
}

.footer{
    height: 400px;
}